.App {
  text-align: center;
}

.card-wrapper {
  display: flex;
  justify-content: center;

}

.smurf-card {
  background: #88CCFF;
  width: 10%;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border: black solid 1px;
}